
.entry.first {
  border: 1px dashed #aaa;
}
.entry {
  border-left: 1px dashed #aaa;
  border-right: 1px dashed #aaa;
  border-bottom: 1px dashed #aaa;

  padding: 5pt;
  display: flex;
}

code {
  background: #ccc;
  border-radius: 2pt;
  padding-left: 2pt;
  padding-right: 2pt;
  font-family: monospace;
}
